/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

:root {
    --Poppins-family: 'Poppins', sans-serif;
    --body-bg-color: #EEF2F9;
    --btn-bg-color: #4788E9;
    --text-color: #191847;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --gray: hsl(208, 7%, 70%, 0.5);
    --gray-color:rgb(117, 115, 115);
    --blueLight:hsl(203, 93%, 46%, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: var(--Poppins-family);
    background: var(--body-bg-color);
    /* overflow: hidden; */
    margin: 0 auto;
}

.container {
    background-color: var(--white-color);
    width: 700px;
    height: 430px;
    margin: 100px auto;
    display: flex;
    border-radius: 15px;
    /* justify-content: center; */
}

.image-product {
    background-image: url(../img/headphone.png);
    width: 191px;
    height: 189px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 39px auto;
}

.text {
    /* border: 1px solid rgb(13, 189, 51); */
    margin: 39px auto;
    /* margin: 25px 74px 54px auto; */
    width: 400px;
    height: 300px;
}

.title {
    color: var(--white-color);
    background-color: var(--text-color);
    width: 108px;
    height: 30px;
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 5px;
    text-align: left;
    margin-top: 20px;
    padding: 5px;
}

.subtitle {
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    margin: 8px auto;
    font-family: var(--Poppins-family);
}

.discount {
    text-decoration: line-through;
    color: var(--text-color);
    font-size: 1em;
}

.value {
    font-weight: 800;
    font-size: 2.8em;
    color: var(--text-color);
}

.description {
    font-family: var(--Poppins-family);
    font-weight: 300;
    color: var(--gray-color);
    font-size: 0.8em;
}

.buy-cart {
    background-color: var(--btn-bg-color);
    width: 350px;
    height: 40px;
    margin: 0 10px 15px 0;
    color: var(--white-color);
    border-radius: 10px;
    box-shadow: 3px 3px 0 var(--btn-bg-color);
    transition: all .4s ease-in-out;
}

.buy-cart:hover {
    background-color: var(--blueLight);
    font-weight: 600;
    font-family: var(--Poppins-family);
    transition: 300ms;
}

.active {
    color: aquamarine;
    margin-top: 10px;
}

.stock {
    color: var(--text-color);
    font-weight: 400;
}

.btn-add {
    display: flex;
}

.add-cart {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border-style: groove;
    background-color: var(--white-color);
    font-family: var(--Poppins-family);
    font-size: 12px;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 3px 3px 0 var(--gray);
    transition: all .4s ease-in-out;
}

.add-cart:hover{
    background-color: var(--gray);
    font-weight: 300;
    font-family: var(--Poppins-family);
    transition: 300ms;
}

.add-list {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border-style: groove;
    background-color: var(--white-color);
    font-family: var(--Poppins-family);
    font-size: 12px;
    margin-top: 20px;
    margin-left: 15px;
    box-shadow: 3px 3px 0 var(--gray);
    transition: all .4s ease-in-out;
}

.add-list:hover{
    background-color: var(--gray);
    font-weight: 300;
    font-family: var(--Poppins-family);
    transition: 300ms;
}
